label {
	font-size: 2em;
}

.requestBox {
	/* border: 1px solid #ced4da;
	background-color: white;
	border-radius: .3rem;
	box-shadow: none; */
}

#feedback {
	margin-top: 1%;
}

#brasov {
 	margin-top: -8%;
}