body {
    font-weight: 300;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;
    background-image: url("../assets/img/mirrored-squares.png");
    overflow-x: hidden;
}

.navbar-nav {
    margin-top: 10px;
}

.navbar-nav > li {
    font-family: 'Roboto' , serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.dropdown-menu a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.underline:hover{
    text-decoration: underline;
}

.row {
    margin-top: 2%;
}

label {
	font-size: 2em;
}

.error {
	color: red;
}
