body {
    /* font-family: 'Oswald', 'Lato', serif; */
    font-weight: 300;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;
    /* background-image: url("../assets/img/mirrored-squares.png"); */
    overflow-x: hidden;
}

.navbar-nav {
    margin-top: 10px;
}

.navbar-nav > li {
    font-family: 'Roboto' , serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.dropdown-menu a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.underline:hover{
    text-decoration: underline;
}

.container{
    max-width: 1450px;
    margin-top: 150px;
}

#brasov {
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    margin-bottom: 9%;
    /* margin-top: -4%; */
    /* color: #ff6369; */
    /* letter-spacing: 20px; */
    list-style-type: none;
}

.row {
    margin-top: -5%;
}

.cardTitle {
    /* color: #126a76; */
    font-size: 1.8em;
    font-weight: 500;
    font-family: 'Oswald', 'Lato', serif;
}



.requestBox {
    font-size: 2.3em;
    font-weight: 400;
    /* font-family: 'Lato', serif;  */
    color: rgba(0, 0, 0,0.7);
    background: none;
    -webkit-box-shadow: 1px 6px 19px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 1px 6px 19px 0px rgba(0,0,0,0.19);
    box-shadow: 1px 6px 19px 0px rgba(0,0,0,0.19);
	margin: 4% 2% 0 2%;
}

.requestLink {
	color: rgba(0, 0, 0,0.7);
}

.requestLink:hover {
    text-decoration: none;
    color: rgba(0, 0, 0,0.7);
}

#upButton {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    font-size: 9em;
    background: none;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#upButton:hover {
    color: rgba(0, 0, 0, 0.5);
}

#solved {
	color: green;
}

#broken {
	color: red;
}

#linkRequestBox {
	padding-top: 1%;
	padding-bottom: 1%;
	
}
