body {
    /* font-family: 'Oswald', 'Lato', serif; */
    font-weight: 300;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;
    background-image: url("../assets/img/mirrored-squares.png");
    overflow-x: hidden;
}

em {
    font-weight: bold;
}

hr {
    height: 180px;
    opacity: 0;
}

.navbar-nav {
    margin-top: 10px;
}

.navbar-nav > li {
    font-family: 'Roboto' , serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.dropdown-menu a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.underline:hover{
    text-decoration: underline;
}

.container{
    max-width: 1450px;
    margin-top: 150px;
}

#title {
    font-weight: bold;
    font-size: 8em;
    color: #ff6369;
    text-align: center;
    list-style-type: none;
    opacity: 0;
    transform: translateX(-200px);
    transition: all 2s ease-out;
}

.title-fade-in {
    opacity: 1 !important;
    transform: translateX(0px) !important;
}

#brasov {
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    margin-bottom: 9%;
    /* margin-top: -4%; */
    color: #ff6369;
    /* letter-spacing: 20px; */
    list-style-type: none;
    /* opacity: 0; */

    
}

.brasov-fade-in {
    opacity: 1 !important;
}

#titleSeparator {
    margin-top: 15px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.row {
    margin-top: -5%;
}

#cityHighlightsCard {
    margin-left: 30%;
}

.cardTitle {
    /* color: #126a76; */
    font-size: 1.8em;
    font-weight: 500;
    font-family: 'Oswald', 'Lato', serif;
}

.cardText {
    font-size: 2.3em;
    font-weight: 400;
    font-family: 'Lato', serif;
    color: rgba(0, 0, 0,0.7);
    background: none;
    -webkit-box-shadow: 1px 6px 19px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 1px 6px 19px 0px rgba(0,0,0,0.19);
    box-shadow: 1px 6px 19px 0px rgba(0,0,0,0.19);
    opacity: 0;
    transform: translateY(70px);
    transition: all 1.3s ease-out;
}

.rightCardText {
    margin-left: 10%;
}

.requestBox {
    font-size: 2.3em;
    font-weight: 400;
    /* font-family: 'Lato', serif;  */
    color: rgba(0, 0, 0,0.7);
    background: none;
    -webkit-box-shadow: 1px 6px 19px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 1px 6px 19px 0px rgba(0,0,0,0.19);
    box-shadow: 1px 6px 19px 0px rgba(0,0,0,0.19);
	margin: 4% 2% 0 2%;
}

.requestLink {
	color: rgba(0, 0, 0,0.7);
}

.requestLink:hover {
    text-decoration: none;
    color: rgba(0, 0, 0,0.7);
}

.cardImage {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.59);
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.59);
    opacity: 0;
    transform: translateY(70px);
    transition: all 1.3s ease-out;
}

.cardImageSpacing {
    margin-left: 5%;
}

.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

.fade-out-cardText {
    transition: all 2s ease-out;
    opacity: 0;
    transform: translateX(-400px);
}

.fade-out-img {
    transition: all 2s ease-out;
    opacity: 0;
    transform: translateX(400px);
}

.fade-in-cardTextSeparated {
    opacity: 1;
    transform: translateY(0px);
}

.fade-out-cardTextSeparated {
    transition: all 2s ease-out;
    opacity: 0;
    transform: translateY(-40px);
}

#copyright {
    margin-top: 120px;
    font-size: 2.1em;
    text-align: center;
}

#upButton {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    font-size: 9em;
    background: none;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#upButton:hover {
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
    #brasov {
        padding-right: 0;
        font-size: 9vw;
    }

    #cityHighlightsCard {
        margin-left: 0;
    }

    .cardText {
        opacity: 1;
    }

    .rightCardText {
        margin: 0;
    }

    .cardTextSeparated {
        opacity: 1;
    }

    .cardImage {
        opacity: 1;
        height: 400px;
        width: 700px;
    }

    .cardImageSpacing {
        margin-left: 0;
        margin-top: 8%;
    }
}


@media (max-width: 768px) {
    #title {
        opacity: 1;
        transform: translateX(0px);
    }

    #brasov {
        font-size: 22vw;
        padding-right: 0;
        transition: none;
        letter-spacing: normal;
        opacity: 1;
    }

    #cityHighlightsCard {
        margin-left: 0;
    }

    .cardText {
        opacity: 1;
    }

    .rightCardText {
        margin: 0;
    }

    .cardTextSeparated {
        opacity: 1;
    }

    .cardImage {
        opacity: 1;
        height: 100%;
        width: 100%;
    }

    .cardImageSpacing {
        margin-left: 0;
        margin-top: 8%;
    }
}

@media (max-width: 576px) {
    #title {
        transition: none;
        opacity: 1;
        transform: translateX(0px);
    }

    #brasov {
        font-size: 22vw;
        padding-right: 0;
        transition: none;
        letter-spacing: normal;
        opacity: 1;
    }

    #cityHighlightsCard {
        margin-left: 0;
    }

    .cardText {
        opacity: 1;
    }

    .rightCardText {
        margin: 0;
    }

    .cardTextSeparated {
        opacity: 1;
    }

    .cardImage {
        opacity: 1;
    }

    .cardImageSpacing {
        margin-left: 0;
        margin-top: 8%;
    }
}
