body {
    font-weight: 300;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;
    background-image: url("../assets/img/mirrored-squares.png");
    overflow-x: hidden;
}

.row {
    margin-top: 15%;
}

label {
	font-size: 2em;
}

#error {
	color: red;
}